body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.intro {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;

  background: url("../img/back-1.1.jpg") center no-repeat;
  background-size: cover;
}

/* Сircle container - контроль размера круга*/
.circle_container {
  width : 80vh;
  height : 80vh;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  /*border : 1px solid red;*/ 
}

/* Circle Main рисует видимый круг */
.circle_main {
  width : 100%;
  height : 100%;
  border-radius : 50%;
  background: white;
  opacity: .5;
  margin : 0;
  padding : 0;
}

.bio {
  width : 77.5vh;
  height : 77.5vh;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  padding: 0;
}

/* Сircle container - контроль размера круга*/
.tab_container {
  width : 80vh;
  height : 80vh;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  /*border : 1px solid red;*/ 
}

/* Circle Main рисует видимый круг */
.tab_main {
  width : 100%;
  height : 100%;
  border-radius : 50%;
  background: white;
  margin : 0;
  padding : 0;
  display: none;
}

.phone{
  font-size: 6vh;
  color: #ff2c00;
  width : 56vh;
  height : 10vh;
  padding : 0;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.tab:hover .tab_main{
  display: block;
}
